<div class="component-login">
  <h2 color="accent">Sign in</h2>
  <br>
  <p class="text-primary">Email</p>
  <input [(ngModel)]="userName" type="email" class="user-email" placeholder="User" aria-label="User" aria-describedby="basic-addon1">
  <br>
  <p class="text-primary">Password</p>
  <input [(ngModel)]="userPwd1" type="password" class="user-pwd1" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
  <br>
  <p class="text-primary">Repeat Password</p>
  <input [(ngModel)]="userPwd2" type="password" class="user-pwd1" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
</div>

