<mat-toolbar color="primary">
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span id="title">{{title}}</span>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>LeaderBoard</button>
</mat-menu>
<mat-card>
  <!--Uncomment this in order to properly use it-->
  <!--<app-signin></app-signin>-->
  <router-outlet></router-outlet>
  <!--<button mat-button>All</button>
  <button mat-raised-button>Of</button>
  <button mat-raised-button color="primary">The</button>
  <button mat-raised-button color="accent">Buttons</button> -->
</mat-card>


<app-score></app-score>
<game></game> 

